<launch>
  <!-- <rosparam command="load" file="$(find ugv_ros)/launch/agents.yaml" /> -->
  <node pkg="ugv_ros" type="mdp4ugv.py" name="mdp4ugv" output="screen"/>
  <node pkg="ugv_ros" type="vrpn.py" name="vrpn" output="screen"/>
  
  <group ns="ugv01">
  <param name="id" value="ugv01" />
    <node pkg="ugv_ros" type="ugv.py" name="controller" output="screen" />
    <node pkg="ugv_ros" type="listener.py" name="hardware" output="screen" />
  </group>

  <group ns="ugv02">
    <param name="id" value="ugv02" />
    <node pkg="ugv_ros" type="ugv.py" name="controller" output="screen" />
    <node pkg="ugv_ros" type="listener.py" name="hardware" output="screen" />
  </group>
  <!-- <node name="rviz" pkg="rviz" type="rviz" /> --> 

</launch>
