<launch>
  <!-- Arguments参数 -->
  <!--是否重复开启底层节点 在语音运行自主建图时开启 此处默认不开启-->
  <arg name="repeat"  default="false"/>
  
  <arg name="car_mode"  default="mini_4wd" 
       doc="opt: mini_akm, senior_akm, top_akm_bs, top_akm_dl,
                 mini_mec,senior_mec_no, senior_mec_bs,senior_mec_dl,top_mec_bs,top_mec_dl,
                 senior_mec_EightDrive,top_mec_EightDrive,
                 mini_omni,senior_omni,top_omni,
                 mini_tank, mini_diff, mini_4wd, top_diff, four_wheel_diff_bs, four_wheel_diff_dl, brushless_senior_diff"/>
  
  <group ns="ugv04">  
    <!-- turn on base_serial 开启底层单片机的控制节点  -->
    <include file="$(find turn_on_wheeltec_robot)/launch/include/base_serial.launch" >
      <arg if="$(eval car_mode=='mini_akm' or car_mode=='senior_akm' or car_mode=='top_akm_bs' or car_mode=='top_akm_dl')"     
          name="akm"  default="true"/>
      <arg unless="$(eval car_mode=='mini_akm' or car_mode=='senior_akm' or car_mode=='top_akm_bs' or car_mode=='top_akm_dl')"
          name="akm"  default="false"/>
      <arg name="slave_robot" value="ugv04"/>
      <!--wheeltec04修改-->
    </include>

    <!-- 扩张卡尔曼滤波 发布odom_combined到footprint的TF,即小车定位 使用cartographer算法时不使用该滤波算法-->
    <include file="$(find turn_on_wheeltec_robot)/launch/include/robot_pose_ekf.launch" unless="$(arg repeat)">
    </include>

    <!-- 发布用于建图、导航的TF关系与小车外形可视化 -->
    <!--wheeltec04修改-->
    <include file="$(find turn_on_wheeltec_robot)/launch/robot_model_visualization_handmove.launch" >
      <!--wheeltec04修改-->
      <arg name="slave_robot" value="ugv04"/>
      <arg name="car_mode" value="$(arg car_mode)"/>
    </include>
  </group>

 </launch>


